/* HEADERS Colorés Bootsrap 3 */
/* "Stolen" from https://www.bootply.com/s6x5oKLiDG */
/* CSS used here will be applied after bootstrap.css */
.modal-header-success {
    color: #fff;
    padding: 9px 15px;
    border-bottom: 1px solid #eee;
    background-color: #5cb85c;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.modal-header-warning {
    color: #fff;
    padding: 9px 15px;
    border-bottom: 1px solid #eee;
    background-color: #f0ad4e;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.modal-header-danger {
    color: #fff;
    padding: 9px 15px;
    border-bottom: 1px solid #eee;
    background-color: #d9534f;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.modal-header-info {
    color: #fff;
    padding: 9px 15px;
    border-bottom: 1px solid #eee;
    background-color: #5bc0de;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.modal-header-primary {
    color: #fff;
    padding: 9px 15px;
    border-bottom: 1px solid #eee;
    background-color: #428bca;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.col-auto-fit{
	float: left;
	padding-left: 15px;
	padding-right: 15px;
}
#menu {
    border-bottom: solid 1px #ccc;
}

#menu, #menu li, #menu ul {
    background-color: #eee;
}

#menu .dropdown-menu .divider {
    background-color: #ccc;
}

/* Custom Styles */

.padding_row {
    padding-left: 15px;
    padding-right: 15px;
}

.no-padding-col, .no-padding-col-left {
	padding-left: 0;
}

.no-padding-col, .no-padding-col-right {
    padding-right: 0;

}

.dropdown-menu a.disabled,.dropdown-menu a.disabled:hover{
    color: #ddd;
    cursor: default;
}

.panel_content {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.center {
    text-align: center;
}

.rightAlign {
    text-align: right;
}

/* Custom Input group */
.complex_input_right, .complex_input_center {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
}

.complex_input_left, .complex_input_center {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
}


.hidden_elem, .INVOCATION_TEMPLATE {
    display: none;
}

.label-sm {
    line-height: 30px;
}

.pointer {
    cursor: pointer
}

/* Specifique FFG */
.seuil-input-titre label{
    text-align: center !important;
    border: 1px solid #ccc;
    border-bottom: 0;
    border-top-left-radius:  4px;
    border-top-right-radius: 4px;
    margin-bottom: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    background-image: -webkit-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
    background-image: -o-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#e8e8e8));
    background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
    background-repeat: repeat-x;
}

.seuil-input-full input{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    text-align: center;
}
.seuil-input-left{
    margin-right: 0;
    padding-right: 0;
}

.seuil-input-left input{
    border-radius: 0;
    text-align: center;
}


.seuil-input-right{
    margin-left: 0;
    padding-left: 0;
}

.seuil-input-right input{
    border-radius: 0;
    border-left: none;
    text-align: center;
}
.seuil-label-left{
    margin-right: 0;
    padding-right: 0;
    border-bottom-right-radius: 4px;

}

.seuil-label-right{
    margin-left: 0;
    padding-left: 0;

}

.seuil-label-left label, .seuil-label-right label{
    text-align: center !important;
    border: 1px solid #ccc;
    border-top: none;

    background-image: -webkit-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
    background-image: -o-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#e8e8e8));
    background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
    background-repeat: repeat-x;
}

.seuil-label-left label {
    border-bottom-left-radius: 4px;
}

.seuil-label-right label{
    border-bottom-right-radius: 4px;
    border-left : none;
}

.border-top-ddd{
    border-top: 1px solid #ddd;
}
.border-bottom-ddd{
    border-bottom: 1px solid #ddd;
}

