<div class="row effet_element effet_INDEX_EFFET">
    <div class="col-lg-7 col-md-6 col-sm-6 col-xs-6" style="margin-bottom: 0.5em;">
        <input class="form-control inputEffetNom" placeholder="Nom"/>
    </div>
    <div class="col-md-2 col-sm-3 col-xs-3" style="margin-bottom: 0.5em;">
        <input class="form-control inputEffetDureeRestante" placeholder="5"/>
    </div>
    <div class="col-md-2 col-sm-3 col-xs-3" style="margin-bottom: 0.5em;">
        <input class="form-control inputEffetDureeTotale" placeholder="5"/>
    </div>
    <div class="col-md-2 col-sm-1 col-xs-2 col-lg-1" style="margin-bottom: 0.5em;">
        <a class="btn btn-danger btn-sm" href="#" onclick="modal.askConfirm({showCancelButton:true,onConfirm:deleteEffet,onConfirmArguments:INDEX_EFFET});">
            <span class="glyphicon glyphicon-trash"/>
        </a>
    </div>
    <div class="col-md-12 col-sm-11 col-xs-10" style="margin-bottom: 0.5em;">
        <input class="form-control inputEffetDescription" placeholder="Description de l'effet"/>
    </div>
</div>