<div class="row initiative_line initiative_PLACEHOLDER_VALEUR">
    <label class="col-md-5 col-sm-5 col-xs-5 control-label">PLACEHOLDER_LABEL</label>
    <div class="col-md-5 col-sm-5 col-xs-5">
        <input class="form-control inputInitiativeValeur center" readonly="readonly" value="PLACEHOLDER_VALEUR"/>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-2">
        <a class="btn btn-default" onclick="PLACEHOLDER_ONCLICK"><span class="glyphicon glyphicon-eye-open"></span></a>
    </div>
</div>