<div class="row effet_element effet_INDEX_EFFET">
    <div class="col-md-5">
        <input class="form-control inputEffetNom" placeholder="Nom"/>
    </div>
    <div class="col-md-2">
        <input class="form-control inputEffetDureeRestante" placeholder="5"/>
    </div>
    <div class="col-md-2">
        <input class="form-control inputEffetDureeTotale" placeholder="5"/>
    </div>
    <div class="col-md-3">
        <a class="btn btn-danger btn-sm" href="#" onclick="modal.askConfirm({showCancelButton:true,onConfirm:deleteEffet,onConfirmArguments:INDEX_EFFET});">
            <span class="glyphicon glyphicon-trash"/>
        </a>
    </div>
</div>